<div class="container">
  <div class="card">
    <h1 class="card__title">Team Generator</h1>
    <ul class="team__list">
      <li *ngFor="let member of members" class="team__member">
        <p class="team__member-name">{{ member }}</p>
      </li>
    </ul>
    <div class="card__input">
      <input
        #addMemberInput
        type="text"
        placeholder="Enter a name"
        class="input__text"
        (input)="onInput(addMemberInput.value)"
        (keydown.enter)="addMember()"
        [value]="newMemberName"
      />
      <button class="input__button" (click)="addMember()">Add +</button>
    </div>

    <div class="card__number_of_teams">
      <input type="number" placeholder="# of teams" />
      <button class="input__button">Generate</button>
    </div>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
</div>
